---
import ExplorerLayout from "../layouts/ExplorerLayout.astro";
import Datasets from "../components/Datasets.vue";
---

<ExplorerLayout>
  <div class="table-responsive">
    <Datasets />
  </div>
</ExplorerLayout>
