---
import ExplorerLayout from "../layouts/ExplorerLayout.astro";
import Parameters from "../components/Parameters.vue";
import SourceFooter from "../components/SourceFooter.vue";
import { API, ParameterMetadataModel } from "../components/openapi";
const url = API + "/station/current/tawes-v1-10min/metadata";
const response = await fetch(url);
const { parameters }: { parameters: ParameterMetadataModel[] } =
  await response.json();
---

<ExplorerLayout>
  <div class="table-responsive">
    <Parameters parameters={parameters} />
  </div>
  <SourceFooter url={url} />
</ExplorerLayout>
