---
import ExplorerLayout from "../layouts/ExplorerLayout.astro";
import Parameters from "../components/Parameters.vue";
---

<ExplorerLayout>
  <div class="table-responsive">
    <Parameters />
  </div>
</ExplorerLayout>
