---
import ExplorerLayout from "../layouts/ExplorerLayout.astro";
import Stations from "../components/Stations.vue";
---

<ExplorerLayout>
  <div class="table-responsive">
    <Stations />
  </div>
</ExplorerLayout>
