---
import "bootstrap/dist/css/bootstrap.css";
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.replaceAll('/',''); // remove the first "/"
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>ZAMG Data Explorer</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <nav
      class="navbar navbar-expand navbar-dark shadow-sm mb-5"
      style="background-color: #702065;"
    >
      <div class="container">
        <a class="navbar-brand" href="/">ZAMG Data Explorer</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav">
            <a class={currentPath === "" ? "nav-link active" : "nav-link" } href="/">Home</a>
            <a class={currentPath === "datasets" ? "nav-link active" : "nav-link" } href="/datasets/">Datasets</a>
            <a class={currentPath === "stations" ? "nav-link active" : "nav-link" } href="/stations/">Stationen</a>
            <a class={currentPath === "parameters" ? "nav-link active" : "nav-link" } href="/parameters/">Parameter</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <slot />
    </div>
  </body>
</html>
