---
import "bootstrap/dist/css/bootstrap.css";

const menuItems = [
  ["/", "Home"],
  ["/datasets/", "Datasets"],
  ["/stations/", "Stationen"],
  ["/station/", "Stationsdaten"],
  ["/parameters/", "Parameter"],
];
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>🌈 ZAMG Data Hub Explorer</title>
    <meta name="author" content="Simon Legner" />
    <meta
      name="description"
      content="Ein visuelles Entdeckungswerkzeug für den ZAMG Data Hub."
    />
    <meta name="keywords" content="opendata,meteorological-data,zamg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <nav
      class="navbar navbar-expand navbar-dark shadow-sm mb-5 d-print-none"
      style="background-color: #702065;"
    >
      <div class="container">
        <a class="navbar-brand" href="/">🌈 ZAMG Data Hub Explorer</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav">
            {
              menuItems.map(([href, label]) => (
                <a
                  href={href}
                  class:list={[
                    "nav-link",
                    {
                      active:
                        href === "/"
                          ? Astro.url.pathname === "/"
                          : Astro.url.pathname.startsWith(href),
                    },
                  ]}
                >
                  {label}
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <slot />
    </div>
  </body>
</html>
